name: Add label auto-update to new pull request

on:
    pull_request:
        types: [opened, ready_for_review, reopened, edited, synchronize]
        branches:
            - main

jobs:
    add-label-auto-update:
      permissions : write-all
      uses: 'sakshi-devotess/github-action/.github/workflows/add-label-auto-update.yml@main'
      with:
        label: "auto-update"

    auto-update:
      uses: 'sakshi-devotess/github-action/.github/workflows/auto-update-head-branch.yml@main'
      with:
        base_branch: "main"
        label_name: "auto-update"
        repository : ${{ github.repository }}
      secrets:
        pat_token : ${{ secrets.GITHUB_TOKEN }}